body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181823;}

  p {max-height: 999999px;}

.text {
  font-weight: 300;
  line-height: 2.4vw;
  font-size: 1.3vw;
  max-height: 999999px;
  color: white;
  text-align: center;
}


.text a {color: orange; text-decoration: none;}
.text a:hover{opacity: 0.7;}

.flag:hover {opacity: 0.7}
.flag {z-index: 1}

#itaflag {
  height: 2.1vw;
  width: 2.1vw;
  position: absolute;
  top: 2.3vw;
  left: 2.3vw;
  background-image: url("itaflag.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius:999px;
}

#engflag {
  height: 2.1vw;
  width: 2.1vw;
  position: absolute;
  top: 2.3vw;
  left: 6vw;
  background-image: url("engflag.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius:999px;
}

.titleanimation {animation: animatetitle 1.5s forwards; transform: translate(-50%,-50%); opacity: 0; animation-delay: 0.2s;}

@keyframes animatetitle {
  from{transform: translate(-50%,-50%) scale(1.2,1.2); opacity: 0;}
  to{transform: translate(-50%,-50%) scale(1,1); opacity: 1;}
}

.propicanimation {animation: animatepropic 1s forwards; transform: translate(-50%,-50%); opacity: 0; animation-delay: 0.4s;}

@keyframes animatepropic {
  from{transform: translate(-50%,-50%) scale(1.2,1.2); opacity: 0;}
  50%{opacity: 1;}
  to{transform: translate(-50%,-50%) scale(1,1); opacity: 1;}
}

.navanimation {
  animation: animatenav 1.2s forwards;
  background-size: 120%; background-position: center; background-repeat: no-repeat;
  height: 50vw;
  animation-delay: 0.07s;
}

@keyframes animatenav {
  from{height: 50vw; background-size: 120%; background-position: center; background-repeat: no-repeat;}
  80%{box-shadow: 0px 0px 3.8vw 2.2vw rgba(0,0,0,0.7);}
  to{height: 37.5vw; background-size: 100%; background-position: center; background-repeat: no-repeat; box-shadow: 0px 0px 3.8vw 2.2vw rgba(0,0,0,0.7);}
}

  /*-----------------------------------------------------------------------------------------------------*/

  .dropdown-content {position: absolute;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {text-align: left;}
  .nodisplay {display: none;}
  .display {animation: display 1s forwards; animation-delay: 1s; opacity: 0;}

  @keyframes display {
    from{display: none; opacity: 0}
    to{display: block; opacity: 1}
  }

  #myskills {cursor: pointer;}

  #navcontainer {
    background-image: url("bovisa.jpg");
    width: 100%;
    display: block;
    margin: 0;
  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 1.8vw;
      right: 5%;
      z-index: 1;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 1vw 1vw;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.1vw;
  }

  li a:hover {background: rgba(150, 150, 150, 0.35); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/


#pagetitle {
  position: absolute;
  text-align: center;
  top: 16vw;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 700;
  font-size: 2.8vw;
  z-index: 1;
}

/*-----------------------------------------------------------------------------------------------------*/

#propic {
  background-image: url("propic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 19vw;
  width: 19vw;
  top: 37.5vw;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  border: solid 0.7vw white;
  border-radius: 999px;
  z-index: 1;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {
  display:block;
  clear:none;
  padding-top:14vw;
  padding-bottom: 4vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

/*-----------------------------------------------------------------------------------------------------*/

.subtext {
  font-weight: 300;
  font-size: 1.35vw;
  color: white;
}

#foot {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-color: black;
  padding-top: 4vw;
  padding-bottom: 5vw;
  text-align: center;
}

#facebooklink {
  background-image: url("facebooklogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 3.5vw;
  width: 3.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  vertical-align: top;
}

#facebooklink:hover {opacity: 0.7}

#instagramlink {
  background-image: url("instagramlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  height: 3.5vw;
  width: 3.5vw;
}

#instagramlink:hover {opacity: 0.7}

#youtubelink {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  height: 3.5vw;
  width: 3.5vw;
}

#youtubelink:hover {opacity: 0.7}
