
body {
  margin: 0;
  padding: 0;}

  #navcontainer {
    background-image: url("homepage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 30px;
      right: 5%;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 17px;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 16px;
  }

  li a:hover {background: rgba(200, 0, 0, 0.5); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/

#title {
  position: absolute;
  text-align: center;
  top: 300px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 50px;
}

#hi {font-weight: 300; font-size: 35px;}
#myname {font-weight: 700; font-size: 40px;}
#websurfer {
  font-weight: 300;
  position: absolute;
  text-align: center;
  top: 380px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {
  top: 800px;
  position: absolute;
  margin:0;
  padding:0;
  height: 600px;
  width: 100%;
  background-color: #181823;
}
