
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;}

  p {max-height: 999999px;}

  .flag:hover {opacity: 0.7}

  #itaflag {
    height: 2.1vw;
    width: 2.1vw;
    position: absolute;
    top: 2.3vw;
    left: 2.3vw;
    background-image: url("itaflag.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    border-radius:999px;
  }

  #engflag {
    height: 2.1vw;
    width: 2.1vw;
    position: absolute;
    top: 2.3vw;
    left: 6vw;
    background-image: url("engflag.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    border-radius:999px;
  }

  .preanimation {background-size: 103%; background-position: center; background-repeat: no-repeat; transition: 1s;}

  .backgroundanimation {animation: animatebackground 0.3s forwards;}
  @keyframes animatebackground {
    from{background-size: 104%; background-position: center; background-repeat: no-repeat;}
    to{background-size: 100%; background-position: center; background-repeat: no-repeat;box-shadow: inset 0px 0px 20px 3px rgba(0,0,0,1); opacity: 0.97;}
  }

  .backgroundanimationback {animation: animatebackgroundback 0.3s forwards;}
  @keyframes animatebackgroundback {
    from{background-size: 100%; background-position: center; background-repeat: no-repeat;box-shadow: inset 0px 0px 20px 3px rgba(0,0,0,1); opacity: 0.97;}
    to{background-size: 104%; background-position: center; background-repeat: no-repeat;}
  }

  .navanimation {animation: animatenav 1.3s forwards;}
  @keyframes animatenav {
    from{background-size: 110%; background-position: center; background-repeat: no-repeat;}
    to{background-size: 100%; background-position: center; background-repeat: no-repeat;}
  }

.logospinner {animation: spinner 1s infinite ease; animation-delay: 0.2s}

@keyframes spinner {
  0%{transform: rotate(0deg) scale(1,1)}
  30%{transform: rotate(-7deg) scale(1.05,1.05)}
  40%{transform: rotate(7deg) scale(1.05,1.05)}
  50%{transform: rotate(-7deg) scale(1.05,1.05)}
  60%{transform: rotate(7deg) scale(1.05,1.05)}
  70%{transform: rotate(-7deg) scale(1.05,1.05)}
  100%{transform: rotate(0deg) scale(1,1)}
}

  /*-----------------------------------------------------------------------------------------------------*/

  .dropdown-content {display: none; position: absolute;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {text-align: left;}

  #navcontainer {
    background-image: url("homepage.jpg");
    background-position: center;
    background-size: 106%;
    background-repeat: no-repeat;
    height: 50vw;
    width: 100%;
    display: block;
    margin: 0;
  }

  #navbar {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 1.8vw;
      right: 5%;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 1vw 1vw;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.1vw;
  }

  li a:hover {background: rgba(150, 150, 150, 0.35); border-radius: 2px;transition: 0.2s;}

/*-----------------------------------------------------------------------------------------------------*/

#pagetitle {
  position: absolute;
  text-align: center;
  top: 25vw;
  left: 50%;
  color: white;
  line-height: 3.3vw;
}

#arrow {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 5vw;
  left: 50%;
  top: 40vw;
  transform-origin: center;
  color:white;
  cursor: pointer;
}

.arrowanimation {animation: animatearrow 1s forwards; animation-delay: 0.5s; opacity:0;}

@keyframes animatearrow{
  from{transform: translate(-50%,-150%) rotate(270deg) scale(2,2); opacity: 0;}
  to{transform: translate(-50%,-50%) rotate(270deg) scale(1,1); opacity: 1;}
}

#hi {font-weight: 300; font-size: 2.7vw;}
#myname {font-weight: 700; font-size: 3vw;}

.titleanimation {animation: animatetitle 1.5s forwards; transform: translate(-50%,-50%); opacity: 0; animation-delay: 0.2s;}

@keyframes animatetitle {
  from{transform: translate(-50%,-50%) scale(1.2,1.2); opacity: 0;}
  to{transform: translate(-50%,-50%) scale(1,1); opacity: 1;}
}

/*-----------------------------------------------------------------------------------------------------*/

.subtext {
  font-weight: 300;
  font-size: 1.35vw;
  color: white;
}

/*-----------------------------------------------------------------------------------------------------*/

#section1 {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-image: url("bovisa.jpg");
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
}

#polilogo {
  background-image: url("polilogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  vertical-align: top;
}

#politext {
  display: inline-block;
  height: 9vw;
  width: 31vw;
}

#politext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-90%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section2 {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-image: url("mkwii.jpg");
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
}

#mkwiilogo {
  background-image: url("mkwiilogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  vertical-align: top;
}

#mkwiitext {
  display: inline-block;
  height: 9vw;
  width: 31vw;
}

#mkwiitext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-85%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section3 {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-image: url("photo.jpg");
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
}

#cameralogo {
  background-image: url("cameralogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  vertical-align: top;
}

#cameratext {
  display: inline-block;
  height: 9vw;
  width: 31vw;
}

#cameratext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-80%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section4 {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-image: url("youtube.jpg");
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
}

#youtubelogo {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  vertical-align: top;
}

#youtubetext {
  display: inline-block;
  height: 9vw;
  width: 31vw;
}

#youtubetext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-90%);
}

/*-----------------------------------------------------------------------------------------------------*/

#section5 {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-image: url("magic.jpg");
  padding-top: 8vw;
  padding-bottom: 8vw;
  text-align: center;
}

#magiclogo {
  background-image: url("magiclogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  vertical-align: top;
}

#magictext {
  display: inline-block;
  height: 9vw;
  width: 31vw;
}

#magictext p {
  position: relative;
  text-align: left;
  top: 50%;
  left: 10%;
  transform: translateY(-80%);
}

/*-----------------------------------------------------------------------------------------------------*/

#foot {
  clear: none;
  display: block;
  height: 9vw;
  width: 100%;
  background-color: black;
  padding-top: 4vw;
  padding-bottom: 6vw;
  text-align: center;
}

#facebooklink {
  background-image: url("facebooklogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 3.5vw;
  width: 3.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  vertical-align: top;
}

#facebooklink:hover {opacity: 0.7}

#instagramlink {
  background-image: url("instagramlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  height: 3.5vw;
  width: 3.5vw;
}

#instagramlink:hover {opacity: 0.7}

#youtubelink {
  background-image: url("youtubelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  height: 3.5vw;
  width: 3.5vw;
}

#youtubelink:hover {opacity: 0.7}
